html{
    scroll-behavior: smooth;
}

.navbar-brand img{
    width: 250px;
}

section{
    min-height: 100vh;
    padding: 100px 0;
}

.carrossel-img{
    height: 80vh;
}

.ilustra-servico{
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
}

table img{
    max-width: 100%;
    width: 80px;
    margin: 0 auto;
}

table tr td:last-child{
    width: 200px;
}

.img-criar-servico{
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
}